---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { getCollection, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import Image from 'astro/components/Image.astro'

export async function getStaticPaths() {
  const projects = await getCollection('projects')
  return projects.map((project) => {
    return {
      params: { project: project.id },
      props: { project },
    }
  })
}

interface Props {
  project: CollectionEntry<'projects'>
}

export const prerender = true

const { project } = Astro.props
const { Content } = await render(project)
---

<DefaultLayout title={project.data.title} description={project.data.body} url={project.data.title}>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Startseite" />
        <BreadcrumbsItem href="/news" label="Neuigkeiten" />
        <BreadcrumbsItem currentPage={true} label={project.data.title} />
      </Breadcrumbs>
    </div>
  </div>
  <section class="my-12">
    <div class="container">
      <h1>{project.data.title}</h1><br />
      </p>
      <div class="image-wrapper">
        <Image 
        src={project.data.image}
        alt={project.data.title + ' - Image'}
        class="rounded-lg shadow-lg"
        width={2000}
        height={2000}
        loading="lazy"/>
      </div>
      </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="my-6">Author: {project.data.author} - {new Date(project.data.date).toLocaleDateString('de-DE', { year: 'numeric', month: 'long', day: 'numeric' })}
      <Content />
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
  }
  .image-wrapper img {
    top: 0;
    position: absolute;
    width: 100%; height: 100%;
    object-fit: cover;
  }
</style>
